*{
    box-sizing: border-box; 
    font-family: Mulish;
}

/* nav section start here */  
 
.nav-section{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin: 40px 140px;  
    
  
}

.logo-title img{
   min-height: 70px;
}
.logo-title {
    display: flex; 
    align-items: center;  
    gap: 10px; 
   
    
}  
.primary-color{ 
    color: #FF0000;

} 
.nav-content{
    display: flex; 
    gap: 20px; 
  
    
}  

.logo-title {
    font-size: 1.8rem; 
    font-weight: 800; 
    color:#131318 ; 
    width:500px;
}  
.btn{ 
    border-radius: 9px;
   background: #FF0000; 
    padding: 10px 40px;  
    color: #FFF;

}
 

.nav-content a{ 
    text-decoration: none;  
    color: #424247;  
    font-size: 1.1rem; 
    font-weight: 400; 
    
}  

/* banner section */
.banner-img {
    background:linear-gradient(rgba(18, 18, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 95%), url(../images/Group\ 13\ \(1\)\ \(1\).png); 
    width: 1100px; 
    height: 90vh; 
    object-fit: cover; 
    background-repeat: no-repeat; 
    margin: 40px 130px;  
    border-radius: 15px;  
    color: #FFF;
   
} 
.banner-title{ 
    font-size: 4rem;  
    font-weight: 800; 
    


}
    .banner-container{
        text-align: center; 
        padding-top: 80px;
    } 
    .form{
         
        border-radius: 8px;
        background: rgba(256, 256, 256,0.40);  
        padding: 20px; 
        margin: 120px 190px;

    } 
    .form input{
       border-radius: 10px;  
       padding: 10px 10px;
      
    } 
    /*Main section start here  */ 

    .main-container{
        display: flex; 
        justify-content: center; 
        margin: 40px 140px; 
        gap: 40px;
    } 



    .text-content{
        text-align: center;
    } 
    .text-title {
        font-size: 2.3rem; 
        color: #131318; 
        font-weight: 800; 
        margin-top: 80px; 
       
    } 
    .text-description{
        font-size: 1rem;
        color:#424247;
        line-height: 26px; 
        font-weight: 400; 
        width: 600px; 
        margin-left: 350px; 
      
    } 
    .contents{
        text-align: center;
    } 
    .item-container{
        display: flex;  
        margin: 40px 170px;  
        gap: 90px;
    } 
    .text-descriptions{ 
        font-size: 1rem;
        color:#424247;
        line-height: 26px; 
        font-weight: 400;
        text-align: left;

    } 
    .item1{ 
        border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05); 
width:560px ; 
height: 276px; 
padding: 30px;

    } 
    .item2{ 
        border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05); 
width:560px ; 
height: 276px; 
padding: 30px;

 } 
 
 .item3{ 
    text-align: left; 
    margin-left: 450px; 
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05); 
width:540px ; 
height: 276px; 
padding: 30px;
 } 
 .section-contents-img{
    display: flex; 
    gap: 30px; 
    margin: 40px 150px;
 } 
 .form-container{
    border: 1px solid #FF0000; 
    width: 800px; 
    border-radius: 15px;
 }  

 footer{
    text-align: center; 
    background-color: antiquewhite; 
    margin: 40px 130px;
 } 
 .footer-section{
    display: flex; 
    justify-content: center;
 } 
 .app-icon{ 
    display: flex;
    gap:10px; 
    justify-content: center; 

 }




