*{
    box-sizing: border-box; 
    font-family: Mulish;
}

/* nav section start here */  
 
.nav-section{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    margin: 40px 140px;  
    
  
}

.logo-title img{
   min-height: 70px;
}
.logo-title {
    display: flex; 
    align-items: center;  
    gap: 10px; 
   
    
}  
.primary-color{ 
    color: #FF0000;

} 
.nav-content{
    display: flex; 
    gap: 20px; 
  
    
}  

.logo-title h1{
    font-size: 1.8rem; 
    font-weight: 800; 
    color:#131318 ; 
    width:500px;
}  
.btn{ 
    border-radius: 9px;
   background: #FF0000; 
    padding: 10px 40px;  
    color: #FFF;

}
 

.nav-content a{ 
    text-decoration: none;  
    color: #424247;  
    font-size: 1.1rem; 
    font-weight: 400; 
    
}  

/* banner section */
.banner-img {
    background:linear-gradient(rgba(18, 18, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 95%), url(../images/Group\ 13\ \(1\)\ \(1\).png); 
    width: 1100px; 
    height: 90vh; 
    object-fit: cover; 
    background-repeat: no-repeat; 
    margin: 40px 130px;  
    border-radius: 15px;  
    color: #FFF;
   
} 
.banner-title{ 
    font-size: 4rem;  
    font-weight: 800; 


} 
.banner-description{
    color: #FFF; 
    justify-content: center; 
    font-weight: 400; 
    font-size: 1rem; 
    line-height: 22px; 
    font-family: Mulish;
} 


    .banner-container{
        text-align: center; 
        padding-top: 15px;
    } 
    .form{
         
        border-radius: 8px;
        background: rgba(256, 256, 256,0.40);  
        margin: 80px 150px  90px; 
        width: 70%; 
        height: 15vh
        

    } 
    .form input,.form select ,.btn{
       border-radius: 10px; 
       padding: 12px; 
       margin: 19px; 
       width: 250px; 
 
    } 
    .form-input-select {
        display: flex; 
        flex-direction: row; 
        gap: 5px; 
        margin: 10px 80px;  
       
      
    } 
    
  
    /*Main section start here  */ 

    .main-container{
        display: flex; 
        justify-content: center;  
        align-items: center;
        margin: 40px 140px; 
        gap: 50px;
    }  
    .popular-title{
        font-family: Mulish; 
        font-size: 2rem; 
        font-weight: 800px;
    } 
    .popular-tour{
        min-width: 200px; 
        line-height: 30px;
    }  

    .popular-description ,p,li{
        font-size: 1rem; 
        font-weight: 400; 
        color: rgba(19 ,18, 22 ,0.60);
    } 


    .text-content{
        text-align: center;
    } 
    .text-title {
        font-size: 2.3rem; 
        color: #131318; 
        font-weight: 800; 
        margin-top: 80px; 
       
    } 
    .text-description{
        font-size: 1rem;
        color:#424247;
        line-height: 26px; 
        font-weight: 400; 
        width: 600px; 
        margin-left: 350px; 
      
    }  
    

    .destination-img,.destination-img3,.destination-img2{ 
        display: flex;
        flex-direction: row; 
        gap:10px; 
        justify-content: center;
        margin-top: 40px; 
        transition: transform 0.6s;

    } 
     
   
    .contents{
        text-align: center;
    } 
    .item-container{
        display: flex;  
        margin: 40px 170px;  
        gap: 90px;
    } 
    .text-descriptions{ 
        font-size: 1rem;
        color:#424247;
        line-height: 26px; 
        font-weight: 400;
        text-align: left;

    } 
    .item1{ 
        border-radius: 16px;
border: 1px solid rgb(175, 238, 238);
background: rgba(251, 181, 99, 0.05); 
width:560px ; 
height: 276px; 
padding: 30px;

    } 
    .item2{ 
        border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05); 
width:560px ; 
height: 276px; 
padding: 30px;

 } 
 
 .item3{ 
    text-align: left; 
    margin-left: 450px; 
    border-radius: 16px;
border: 1px solid rgb(175, 238, 238);
background:rgba(251, 181, 99, 0.05);
width:540px ; 
height: 276px; 
padding: 30px;
 } 
 .section-contents-img{
    display: flex; 
    justify-content: center; 
    gap: 60px; 
    margin: 40px 120px;
 } 
 .form-container{
    border: 1px solid #FF0000; 
    width: 1250px; 
    border-radius: 15px; 
    padding: 20px 40px; 
    
 }  
 .form-container input{ 
    border-radius: 10px;
    padding: 15px 80px;  
    margin-top: 20px; 
    border: none; 
    background:#FFFACD ; 

    } 
    .form-container  button{ 
        border-radius: 10px; 
        padding: 15px 120px;  
        margin-top: 20px; 
        border: none; 
        font-size: 1rem;  
        color: #FFF;  
        background: #FF0000;    

    } 
    .form-container  button:hover{
        background: #FFA500;
    }
 
 .discount-content{
    text-align: center; 
    width: 640px; 
   margin-left: 400px;
 }  
 
.discount-img,.discount-img1,.discount-img2{
  margin-left: 90px; 
  margin-bottom: 5px; 
  margin-top: 40px;   
} 
.dis-btn{ 
    border-radius: 9px;
    background: #FF0000; 
     padding: 10px 40px;  
     color: #FFF; 
     margin-left: 600px; 
     font-size: 1rem; 
     margin-top: 10px;
} 
.dis-btn:hover{
    background-color: green;
} 
.simple-place-conteiner{
    display: flex; 
    margin: 50px 110px; 
    gap: 40px; 
    align-items: center;
} 
.simple-place-content{
    text-align: left; 
    max-width: 500px;
} 
.simple-title{
    font-size: 2.5rem; 
    font-weight: 800; 
    line-height: 60px; 
   
} 
.simple-descript{ 
    font-size: 1rem; 
    line-height: 20px; 
    font-weight: 400; 
    color: #5a5a5a;

} 
.simple-line li{
    font-size: 1rem; 
    font-weight: 700px; 
    line-height: 28px; 
    color: #131318;
}  
.simple-btn{ 
    border-radius: 9px;
    background: #FF0000; 
     padding: 10px 40px;  
     color: #FFF;  
     font-size: 1rem; 
     margin-bottom: 10px; 

} 
.simple-btn:hover{ 
    background:#FFA500 ;

}





 /* footer secttion start here   */

 footer{
    text-align: center; 
    background-color: #BDB76B; 
    margin: 40px 130px; 
    height: 300px; 
    line-height: 20px;
 } 
 .footer-section{
    display: flex; 
    justify-content: center;  
    padding-top: 20px;
    
 }   

 footer hr{
    width: 700px;  
    margin-top: 30px;

 } 
 hr:hover{
 color: #FFFACD;
 }

 .app-icon{ 
    display: flex;
    gap:10px; 
    justify-content: center; 

 }


 @media screen and (max-width:600px){ 
    .logo-title{
        flex-direction: row;  
       font-size: 1rem;  
    }
      
 .nav-section{  
    margin-left: 50px;

 } 
 .banner-img{ 
    width: 90%; 
    margin-left: 20px; 
    margin-top: 8px;  
   
   
 } 
 .banner-title{
    font-size: 2rem; 
    
 } 
 .form{ 
    margin-left: 10px; 
    margin-top: 5px; 
    width: 95%; 
    height: 50vh;

 } 
   .form-input-select{ 
    flex-direction: column; 
    gap: 2px; 
   margin: 34px;  
 }  
  .main-container{
    flex-direction: column; 

  } 
  .text-content{ 
    max-width: 1200px;

  } 
  .popular-img img{
    width: 100%;  
  margin-right: 400px;


  }  
  .destination-img,.destination-img3,.destination-img2{
    flex-direction: column;
  }

 
     
  
       

    

 }



